html {
  background: rgb(201, 214, 255);
}

h1 {
  text-align: center;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border: 2px solid black;
  background: white;
}

th, td {
  text-align: center;
  border: 1px solid black;
}