#chart-container {
  background-color: white;
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-right: 3vh;
  padding-left: 3vh;
  text-align: center;
}

#chart-back-button {
  margin: 20px;
  font-family: Helvetica;
  font-size: 20px;
  padding: 5px;
  transition-duration: 0.1s;
}

#chart-back-button:hover {
  background-color: #7e7e7e;
}

#search-box-container {
  text-align: center;
  padding: 10px;
}

#search-box-errmessage {
  color: red;
  /* background: white; */
}

